/target/
cargo-release-publish.log
node_modules/
packages/*/dist/
packages/wasm/pkg/
packages/wasm/wasm/
packages/stdict-fst/stdict.fst
packages/stdict-cdb/stdict.cdb
packages/napi/gukhanmun_napi.node

